.body {
    display:flex;
    flex-direction: column;
    font-family:'Roboto', sans-serif;
}

.header {
    display:flex;
    background-color: #1F2937;
    flex-direction: column;
    padding: 64px;
}

.logo {
    color:#f9faf8;
    font-size:24px;
}
.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.allhero {
    display: flex;
    justify-content: space-between;
    height:300px;
}

.hero {
    display: flex;
    flex-direction: column;
    margin-right: 64px;
    width:max-content;
}

ul {
    margin:0;
    padding:0;
    list-style-type: none;
    display: flex;
    justify-content:space-between;
}

a {
    text-decoration: none;
    padding:8px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

p, a {
    font-size: 18px;
    color:#e5e7eb;
}

button, .cta {
    background: #3882F6;
}

button {
    border-radius: 8px;
    width:fit-content;
}