.body {
    display:flex;
    flex-direction: column;
    font-family:'Roboto', sans-serif;
}

.header {
    display:flex;
    background-color: #1F2937;
    flex-direction: column;
}

.logo {
    color:#f9faf8;
    font-size:24px;
}
.nav {
    display: flex;
    justify-content: space-between;
    margin:32px 100px;
}

.allhero {
    display: flex;
    justify-content: space-between;
    height:300px;
    margin: 100px;
}

.hero {
    display: flex;
    flex-direction: column;
    margin-right: 64px;
    width:max-content;
}

ul {
    margin:0;
    padding:0;
    list-style-type: none;
    display: flex;
    justify-content:space-between;
}

a {
    text-decoration: none;
    padding:8px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

p, a {
    font-size: 18px;
    color:#e5e7eb;
}

button, .cta {
    background: #3882F6;
}

button {
    border-radius: 8px;
    width:fit-content;
}

.info {
    display:flex;
    flex-direction: column;
}

h2 {
    font-size: 36px;
    text-align: center;
    font-weight: extra-bold;
    color: #1F2937;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 150px 50px 150px;
}

.content {
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    height:300px;
    width:250px;
    padding:10px;
}

.content *:first-child {
    width: 250px;
    height: 200px;
}

.quotes {
    background-color: #e5e7eb;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 150px;
}

.text, .name {
    font-size: 36px;
    color:#1F2937;
    font-style: italic;
    font-weight: light;
}

.name {
    align-self: flex-end;
    font-weight:600;
}